<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApprovedVendorId" value="VID_CAFE" />
        <add key="ApprovedProductId" value="PID_4014" />
        <add key="DeviceBaudRate" value="115200" />
        <add key="DeviceReadyDelayMilliseconds" value="1000" />
        <add key="CommandTimeoutMilliseconds" value="2000" />
        <add key="SettingsTimeoutMilliseconds" value="10000" />
        <add key="FingerprintEnrollTimeoutMilliseconds" value="60000" />
        <add key="DefaultUsbUseCount" value="1" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
